<h1 class="text-center">User Login</h1>

<div class="container">
    <form (ngSubmit)="submitdata()" >
        <div class="mb-3">
          <label for="email" class="form-label" >Enter Email</label>
          <input type="text" class="form-control" id="email" name="email" [(ngModel)]="lg.email">
          
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Enter Password</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="lg.password">
        </div>
       
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    
    </div>